*{
    margin: 0;
    padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 3px 2px;
}
.logo img{
  height: 12vh;

}
.header ul{
  display: flex;
  justify-content: space-between;
}
.header li{
  margin: 15px 0;
  padding: 0 15px ;
  cursor: pointer;
}

li{
  list-style-type: none;
}


.coworkeAll{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
}
.ratingCss{
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
Footer{
    background-color: rgb(230, 230, 230);

}

.btn{
  padding: 20px;
}

