body {
    margin: 0;
    padding: 0;
    background-color: black;
    color : white;
  }
  
  Header {
    background: orange;
    background: linear-gradient(180deg, orange 0%, orangered 47%, black 100%);
  
  }
  .header-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  img{
    height: 10vh;
    border-radius: 50%;
  
  }
  .header-top ul{
    display: flex;
    justify-content: space-between;
  }
  .header-top li{
    margin: 15px 0;
    padding: 0 15px ;
    cursor: pointer;
  }
  
  li{
    list-style-type: none;
  }
  
  .footer-de-nerf{
    background-color: orange;
    margin: 0;
    padding: 10px;
    
  }
  
  .footer-top-logo{
    height: 10vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  .randomCoctail{
    padding: 20px;
    
    width: 300px;
    margin: 155px auto;
    border-radius: 15px;
  
  }
  
  h1 {
    text-align: center;
  }
 

  
  
  .listCoctail{
    margin: 50px auto;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
  }

  
  
  
  
  .horraire{
    display: flex;
    justify-content: space-around;
  }